body {
  display: flex;
  justify-content: center; /* توسيط أفقي */
}

.BtnIcon {
  transition: all 0.5s ease-in-out;
}
.BtnIcon:hover {
  box-shadow: 0px 5px 5px black;
}
.container_grid {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.container_grid:hover {
  padding: 10px 0px;
}

@font-face {
  font-family: "Cairo";
  src: url("/public/fonts/Cairo-Regular.ttf");
}
.container {
  color: rgb(94, 255, 0);
  max-height: 500px;
  max-width: 650px;
  margin: 20px auto;
  overflow: auto;
  border-radius: 5px;
  box-shadow: -1px -3px 7px rgb(199, 199, 199);
  margin: 10px;
  position: relative;
}
.fixed {
  width: 550px;
  position: static;
}
